{% extends 'seller/base-seller.html' %}

{% block title %}-Delete item{% endblock %}

{% block content %}

<div class="container">
    <div class="row detail-item-containter">
        <div class="col-md-5">
            <div class="image-detail"><img src="{{item.image.url}}" class="rounded-image"></img></div>
        </div>

        <div class="col-md-7">
            <div class="detail-category">{{item.long_category}}</div>
            <div class="detail-title">{{item.title}}</div>
            <div class="detail-price">{{item.price}}€</div>
            <div class="detail-description">{{item.description}}</div>

            <div class="row">
                <form method="post" class="d-flex flex-row">
                    {% csrf_token %}
                    <a href="{% url 'seller_all_items' %}" class="non-link">
                        <div class="back-button">Back</div>
                    </a>
                    <button class="delete-button" type="submit">Delete</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}