{% extends 'seller/base-seller.html' %}

{% block title %}-{{item.title}}{% endblock %}

{% block content %}

<div class="container">
    <div class="row detail-item-containter">
        <div class="col-md-5">
            <div class="image-detail"><img src="{{item.image.url}}" class="rounded-image"></img></div>
        </div>
        <div class="col-md-7">
            <div class="detail-category">{{item.long_category}}</div>
            <div class="detail-title">{{item.title}}</div>
            <div class="detail-price">{{item.price}}€</div>
            <div class="detail-description">{{item.description}}</div>

            <div class="row">
                <div class="col-md-2">
                    <a href="{% url 'seller_all_items' %}" class="non-link align-self-end">
                        <div class="delete-basket-button non-link">Back</div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'seller_edit_item' item.pk %}" class="non-link align-self-end">
                        <div class="detail-button">Edit</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}