<div class="sidebar">
  {% if url_name == 'all_items' %}
  <a href="{% url 'all_items' %}" class="active"><i class="bi bi-cart3 new-item-icon"></i>All products</a>
  {% else %}
  <a href="#'all-products'"><i class="bi bi-cart3 new-item-icon"></i>All products</a>
  {% endif %}

  {% if url_name == 'orders' %}
  <a href="#'orders'" class="active"><i class="bi bi-bag-check new-item-icon"></i>Orders</a>
  {% else %}
  <a href="# 'orders'"><i class="bi bi-bag-check new-item-icon"></i>Orders</a>
  {% endif %}

  {% if url_name == 'overview' %}
  <a href=" #'overview'" class="active"><i class="bi bi-box-seam new-item-icon"></i>Overview</a>
  {% else %}
  <a href="#'overview' "><i class="bi bi-box-seam new-item-icon"></i>Overview</a>
  {% endif %}

  <a href="#'store' "><i class="bi bi-shop new-item-icon"></i>Store</a>
</div>