<div class="sidebar">
  {% if url_name == 'seller_all_items' %}
  <a href="{% url 'seller_all_items' %}" class="active"><i class="bi bi-cart3 new-item-icon"></i>Items</a>
  {% else %}
  <a href="{% url 'seller_all_items' %}"><i class="bi bi-cart3 new-item-icon"></i>Items</a>
  {% endif %}

  {% if url_name == 'seller_orders' %}
  <a href="{% url 'seller_orders' %}" class="active"><i class="bi bi-bag-check new-item-icon"></i>Orders</a>
  {% else %}
  <a href="{% url 'seller_orders' %}"><i class="bi bi-bag-check new-item-icon"></i>Orders</a>
  {% endif %}

  {% if url_name == 'seller_overview' %}
  <a href="{% url 'seller_overview' %}" class="active"><i class="bi bi-box-seam new-item-icon"></i>Overview</a>
  {% else %}
  <a href="{% url 'seller_overview' %}"><i class="bi bi-box-seam new-item-icon"></i>Overview</a>
  {% endif %}

  <a href="{% url 'store' %}"><i class="bi bi-shop new-item-icon"></i>Store</a>
</div>