{% extends 'seller/base-seller.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="category-title-container" style="font-size: 2rem;">New Item
        <div style="font-size:1.5rem;  margin-top: 0.5rem;">&#127849;</div>
    </div>
    <div class=" d-flex justify-content-center">
        <div class="new-product-div-style" style="margin-bottom:3rem;">

            <form method="post" class="new-product-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <a href="{% url 'all_items' %}">
                    <i class="bi bi-arrow-left new-item-top-icon button-back non-link"></i>
                </a>

                <button type="submit" class="post-button-grid">Post</button>
        </div>
        </form>

    </div>

    {% endblock content %}