{% load static %}

<div class="container px-5">
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6">
            <div class="shipping-container">
                <div class="basket-step-text">My bag</div>
                {% if step == 1 %}
                <div class="basket-step blue-dot"><i class="bi bi-record-fill"></i></div>
                {% else %}
                <div class="basket-step green-dot"><i class="bi bi-record-fill"></i></div>
                {% endif %}

                <div class="arrow"><i class="bi bi-arrow-right"></i></div>
                <div class="shipping-step-text">Shipping</div>

                {% if step == 1 %}
                <div class="shipping-step gray-dot"><i class="bi bi-record-fill"></i></div>
                {% elif step == 2 %}
                <div class="shipping-step blue-dot"><i class="bi bi-record-fill"></i></div>
                {% else %}
                <div class="shipping-step green-dot"><i class="bi bi-record-fill"></i></div>
                {% endif %}

                <div class="arrow-2"><i class="bi bi-arrow-right"></i></div>
                <div class="payment-step-text">Payment</div>

                {% if step == 3 %}
                <div class="payment-step blue-dot"><i class="bi bi-record-fill"></i></div>
                {% else %}
                <div class="payment-step gray-dot"><i class="bi bi-record-fill"></i></div>
                {% endif %}

            </div>
        </div>

        <div class="col-sm-3 mt-3 d-flex justify-content-end">
            <div class="time-basket">Basket expires in:
                <div id="countdown">

                    <script>
                        var expire_date = "{{ expire_date}}"
                    </script>

                    <script type="text/javascript" src="{% static 'store/countdown.js' %}"></script>
                </div>
            </div>
        </div>
    </div>
</div>