{% extends 'users/base-user.html' %}

{% block content %}

{% if shopping_bag %}
<!-- TOD add payment steps -->

<div class="container">

    <form method="post">
        {% for item in zip_bag_form %}
        <div class="basket-grid-container">
            <div class="bag-item-image"><img src="{{item.0.item_to_buy.image.url}}" height="120px;"></div>
            <div class="bag-item-title all-products-data-text">{{item.0.item_to_buy.title}}</div>
            <div class="bag-item-quantity all-products-data-text">
                {% csrf_token %}
                <!--quantity field-->
                {{item.1}}
                <input type="hidden" value="{{item.0.pk}}" id="item_pk" name="item_pk">
            </div>
            <div class="bag-item-price all-products-data-text">{{item.0.item_to_buy.price}} €</div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
            <button class="delele-basket-button" type="submit" name="action" value="cancel">Delete basket</button>
            <button class="detail-button" type="submit" name="action" value="pay">Proceed to Checkout</button>
        </div>
    </form>

    <!--empty bag text-->
    {% else %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="support-text mt-4">Your shopping bag is empty.
            <a href="{% url 'store' %}" class="support-text-link">
                Add new items
            </a>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}