{% extends 'users/base-user.html' %}

{% block title %}-My bag{% endblock %}

{% block content %}

{% if items_and_forms %}
{% include 'store/payment-steps.html'%}

<div class="container">

    <form method="post">
        {% csrf_token %}
        {% for item, form in items_and_forms %}
        <div class="basket-grid-container">
            <div class="bag-item-image"><img src="{{item.item_to_buy.image.url}}" height="120px;"></div>
            <div class="bag-item-title all-products-data-text">{{item.item_to_buy.title}}</div>
            <div class="bag-item-quantity all-products-data-text">
                {{form}}
            </div>
            <div class="bag-item-price all-products-data-text">{{item.item_to_buy.price}} €</div>
            <button class="bag-item-bin navbar-icon" type="submit" name="action" value="delete_{{item.pk}}"><i
                    class="bi bi-trash3"></i></button>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
            <button class="delete-basket-button" type="submit" name="action" value="cancel">Delete basket</button>
            <button class="detail-button" type="submit" name="action" value="pay">Proceed to Checkout</button>
        </div>
    </form>

</div>

{% else %}
{% include 'store/empty-bag-text.html'%}
{% endif %}

{% endblock %}