{% extends 'users/base-user.html' %}
{% block content %}

<form action="" method="get">
    <ul class="nav justify-content-center">
        {% for cat in all_categories%}
        <li class="nav-item mt-3">
            <a class="nav-item-text" href="{% url 'store' %}?category={{cat.0}}">{{cat.1}}</a>
        </li>
        {% endfor %}
    </ul>
</form>

<div class="container">
    <div class="category-title-container">{{category|upper}}</div>
    <hr>

    <div class="container mt-2 mb-2">
        <div class="row justify-content-md-end">
            <div class="col col-lg-4 ">
                {% include 'sir_cake/search-field.html'%}
            </div>
        </div>
    </div>
</div>

<div class="container products-grid mt-5">
    {% if items %}
    {% for item in items %}
    <div class="mb-3">
        <a href="{% url 'store_item_detail' item.pk %}" class="non-link a-hover">
            <img src="{{item.image.url}}" class="rounded-image" height="200px"></img>
            <p class="product-title-store">{{item.short_title|title}}</p>
            <p class="product-price-store">{{item.price}} €</p>
        </a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_hidden }}
            <button type="submit" class="shopping-bag-button mt-2" value="{{item.pk}}" name="item_pk">
                <i class="bi bi-bag-plus"> Add</i>
            </button>
        </form>
    </div>
    {% endfor %}
    {% else %}
    No items
    {% endif %}
</div>

{% include 'sir_cake/paginator.html'%}

{% endblock content %}