/*
    font-family: 'Lato', sans-serif; 300, 400 italic, 700
    font-family: 'Roboto', sans-serif; 300 italic, 400
    font-family: 'Montserrat', sans-serif; 400, 600
*/

:root {
    --darker-purple: rgb(92, 80, 156);
    --dismiss-red: rgb(247, 128, 128);
    --accept-green: rgb(148, 216, 148);
    --bright-pink: rgb(200, 9, 76);
    --dusty-pink: rgb(197, 87, 112);
    --semi-pink: rgb(235, 135, 159);
    --lighter-pink: rgb(225, 157, 172);
    --light-pink: rgb(236, 195, 203);
    --beige: rgb(240, 236, 235);
    --light-beige: rgba(243, 242, 240, 0.651);
    --gray-text: rgb(73, 72, 72);
    --border-color: rgba(183, 194, 198, 0.5);
}

/* Base */
body {
    overflow-x: hidden;
}

.zero-margin-padding {
    padding: 0%;
    margin: 0%;
}

.non-link {
    text-decoration: none;
}

.non-link:hover {
    text-decoration: none;
}

/* New Item */
.new-item-title-frame {
    padding: 1rem;
    border: solid 1px;
    border-color: var(--border-color);
    border-radius: 4px;
    background-color: var(--beige);
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: grid;
}

.page-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: start;
}

.new-product-form {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
    column-gap: 10px;
    grid-template-areas: "title title"
        "price quantity"
        "decsription decsription"
        "image category"
        ". button";
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.new-product-div-style {
    border: 1px solid;
    border-color: var(--beige);
    box-shadow: 15px 10px 25px var(--beige);
}

.new-item-image {
    max-height: 35em;
    max-width: 100%;
    padding: 1rem;
}

/*hide help text*/
#error_1_id_price,
#error_1_id_image,
#error_1_id_title,
#error_1_id_description,
#error_1_id_quantity,
#error_1_id_category {
    display: none;
}

#div_id_image {
    grid-area: image;
}

#div_id_title {
    grid-area: title;
}

#div_id_description {
    grid-area: decsription;
}

#div_id_price {
    grid-area: price;
}

#div_id_quantity {
    grid-area: quantity;
}

#div_id_category {
    grid-area: category;
}

#id_title,
#id_price,
#id_inventory,
#id_category {
    border-radius: 20px;
    min-height: 2rem;
}

#id_description {
    min-height: 10rem;
}

.post-button-grid {
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 10px;
    border: solid 1px;
    border-color: var(--semi-pink);
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    grid-area: button;
    justify-self: end;
    color: var(--semi-pink);
}

.post-button-grid:hover,
.delele-basket-button:hover,
.active,
.sidebar a:hover,
.anon-user-button:hover {
    background-color: var(--semi-pink);
    color: #FFFFFF;
}

.new-item-top-icon {
    color: var(--semi-pink);
    font-size: 2.2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.new-item-top-icon:hover {
    opacity: 0.8;
}


/* Navbar */
.sidebar {
    width: 100%;
    height: 100%;
    background-color: var(--light-pink);
    position: relative;
    min-height: 100vh;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.4s;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
/* Taken from: https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp*/
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/* Taken from: https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp*/
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.new-item-icon {
    font-size: 1.4rem;
    margin-right: 1rem;
}

/*Detail page*/
.detail-item-containter {
    border: solid 2px;
    border-color: var(--border-color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--beige);
    margin-top: 4rem;
    padding: 1rem;
    display: flex;
}

.item_quantity_form {
    width: 70px;
    height: 2.8rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 3rem;
}

.image-detail {
    display: flex;
    width: 40%;
    justify-content: center;
    margin-right: 2rem;
}

.rounded-image {
    border-radius: 10px;
}

.info-div-detail {
    width: 50%;
}

.detail-category {
    color: var(--semi-pink);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.detail-title {
    font-family: 'Lato', sans-serif;
    color: rgb(56, 56, 56);
    font-size: 1.5rem;
    margin-top: 0.1rem;
}

.detail-price {
    font-family: 'Lato', sans-serif;
    color: var(--semi-pink);
    font-size: 2rem;
    margin-top: 0.4rem;
    font-weight: 700;
}

.detail-description {
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
}

.detail-button {
    height: 3rem;
    border-radius: 10px;
    background-color: var(--semi-pink);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5rem;
    margin-top: 3rem;
}

.detail-button:hover {
    color: var(--semi-pink);
    background-color: transparent;
    border: solid 1px;
    border-color: var(--semi-pink);
}

.go-back-icon {
    font-size: 2.5rem;
    color: var(--semi-pink);
    margin-left: 1rem;
}

.go-back-icon:hover {
    opacity: 0.7;
}

/*All items*/
.new-item-top-icon {
    color: var(--semi-pink);
    font-size: 2.2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.new-item-top-icon:hover {
    opacity: 0.8;
}

.product-grid-container {
    margin: 2rem 2rem 0 0;
    padding: 1rem;
    border: solid 1px;
    border-color: var(--border-color);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
        "image title description category price inventory action";
}

.beige-bg {
    background-color: var(--beige);
}

.grid-item-image {
    grid-area: image;
    justify-self: center;
}

.grid-item-title {
    grid-area: title;
    justify-self: center;
}

.grid-item-description {
    grid-area: description;
    justify-self: center;
}

.grid-item-category {
    grid-area: category;
    justify-self: center;
}

.grid-item-price {
    grid-area: price;
    justify-self: center;
}

.grid-item-inventory {
    grid-area: inventory;
    justify-self: center;
}

.grid-item-action {
    grid-area: action;
    justify-self: center;
}

.category-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1rem;
}

.all-products-data-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #000000;
}

.warning-data-text {
    color: var(--dismiss-red);
}

.replacement-text-middle {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.zoom-action-button {
    color: rgb(59, 112, 59);
    margin: 0.2rem;
    font-size: 1.1rem;
}

.edit-action-button {
    color: rgb(88, 87, 87);
    margin: 0.2rem;
    font-size: 1.1rem;
}

.delete-action-button {
    color: red;
    margin: 0.2rem;
    font-size: 1.1rem;
}

.zoom-action-button:hover,
.edit-action-button:hover,
.delete-action-button:hover {
    opacity: 0.7;
}


/*Pagination*/
.pagination {
    margin: 5rem 0 1.5rem 0;
    justify-content: center;
}

.pagination-button {
    color: var(--dusty-pink);
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--lighter-pink);
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    margin: 0 0.1rem;
    background-color: transparent;
}

.pagination-button:hover {
    text-decoration: none;
    background-color: var(--dusty-pink);
    color: #FFFFFF;
}

.pagination-button-full {
    background-color: var(--dusty-pink);
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--lighter-pink);
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    color: #FFFFFF;
    margin: 0.1rem;
}

.pagination-button-full:hover {
    text-decoration: none;
    background-color: #FFFFFF;
    color: var(--dusty-pink);
}

/*Delete item*/

.delete-button {
    margin-top: 2rem;
    height: 3rem;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--dismiss-red);
    text-align: center;
    padding: 0.5rem;
    border-color: var(--dismiss-red);
    border: solid 1px;
    width: 50%;
}

.delete-button:hover {
    color: #ffffff;
    background-color: var(--dismiss-red);
}

.back-button {
    margin-top: 2rem;
    height: 3rem;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--accept-green);
    text-align: center;
    padding: 0.5rem;
    border: solid 1px;
    border-color: var(--accept-green);
    width: 50%;
}

.back-button:hover {
    color: #FFFFFF;
    background-color: var(--accept-green);
}

/*USERS*/

/*Navbar-users*/

nav {
    min-height: 10rem;
    border-bottom: 1px dotted;
    background-color: #FFFFFF;
}

.navbar-logo-title {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    color: var(--gray-text);
}

.navbar-icon {
    padding-right: 1rem;
    font-size: 1.2rem;
}

.navbar-icon:hover,
.navbar-icon-bg-fill:hover,
.support-text-link {
    color: var(--semi-pink);
}

.navbar-icon-bg-fill {
    padding-right: 1rem;
    font-size: 1.2rem;
    color: var(--gray-text);
}

.link-to-nav-gray {
    color: var(--gray-text);
}


/*Register*/

.register-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". form .";
    margin: 4rem 0rem;
}

.register-form {
    border: 1px solid;
    border-color: var(--beige);
    box-shadow: 15px 10px 25px var(--beige);
    padding: 2rem;
    grid-area: form;
}

.form-title-frame {
    padding: 1rem;
    border: solid 1px;
    border-color: var(--border-color);
    border-radius: 4px;
    background-color: var(--beige);
    margin-bottom: 2rem;
}

.link {
    color: var(--semi-pink);
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: var(--semi-pink);
    opacity: 0.7;
    text-decoration: none;
}

.additional-form-text {
    font-style: italic;
    font-size: 0.9rem;
}

/*Store*/

.nav-item-text {
    padding: 1rem;
    color: var(--gray-text);
    font-family: 'Montserrat', sans-serif;
}

.nav-item-text:hover {
    text-decoration: none;
    color: var(--bright-pink);
    opacity: 0.7;
}

.category-title-container {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: var(--gray-text);
    margin: 3rem 0rem;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-items: center;
    gap: 1rem;
}

.a-hover:hover {
    opacity: 0.8;
}

.product-title-store {
    font-family: 'Lato', sans-serif;
    color: rgb(73, 73, 73);
    margin: 0.5rem;
    font-weight: 400;
    font-style: italic;
}

.product-price-store {
    font-family: 'Lato', sans-serif;
    color: rgb(41, 41, 41);
    margin: 0.5rem;
    font-size: 1.1rem;
}

.product-title-store:hover {
    color: var(--bright-pink);
    opacity: 0.7;
}

.shopping-bag-button {
    padding: 0.2rem 1rem;
    border-radius: 5px;
    color: var(--semi-pink);
    border: 1px solid;
    border-color: var(--semi-pink);
    background-color: transparent;
}

.shopping-bag-button:hover {
    color: #FFFFFF;
    background-color: var(--semi-pink);
}


/*Continue Purchase*/

.anon-user-button {
    height: 3rem;
    border-radius: 10px;
    color: var(--semi-pink);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: solid 1px;
    border-color: var(--semi-pink);
    text-align: center;
    padding: 0.5rem;
    margin-top: 3rem;
    background-color: #FFFFFF;
    width: 100%;
}

/* Shopping bag*/

.basket-grid-container {
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    border: solid 1px;
    border-color: var(--border-color);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
        "image title quantity price bin";
}

.bag-item-image {
    grid-area: image;
}

.bag-item-title {
    grid-area: title;
}

.bag-item-quantity {
    grid-area: quantity;
}

.bag-item-price {
    grid-area: price;
}

.bag-item-bin {
    grid-area: bin;
    background-color: #FFFFFF;
    border: #FFFFFF;
}

.bag-item-image,
.bag-item-title,
.bag-item-quantity,
.bag-item-price,
.bag-item-bin {
    justify-self: center;
    align-self: center;
}

.delele-basket-button {
    height: 3rem;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--semi-pink);
    text-align: center;
    padding: 0.5rem;
    margin-top: 3rem;
    border-color: var(--semi-pink);
    border: solid 1px;
    margin-right: 0.5rem;
}

.support-text-link:hover {
    text-decoration: none;
    color: var(--semi-pink);
    opacity: 0.8;
}

.support-text {
    font-family: 'Lato';
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
}

#id_quantity {
    color: black;
    height: 2.5rem;
    width: 5rem;
    border-radius: 2px;

}

/*Hide input arrows*/
/*From: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}


/* Pyment steps */

.shipping-container {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr 2fr 1fr 2fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". basket-step-text . shipping-step-text . payment-step-text . time-basket"
        ". basket-step arrow shipping-step arrow-2 payment-step . .";
    margin-top: 2rem;
}

.basket-step-text {
    grid-area: basket-step-text;
}

.shipping-step-text {
    grid-area: shipping-step-text;
}

.payment-step-text {
    grid-area: payment-step-text;
}

.time-basket {
    grid-area: time-basket;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    background-color: var(--light-beige);
}

.basket-step-text,
.shipping-step-text,
.payment-step-text {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    font-style: italic;
    color: var(--gray-text);
    justify-self: center;
}

.basket-step {
    grid-area: basket-step;
}

.shipping-step {
    grid-area: shipping-step;
}

.payment-step {
    grid-area: payment-step;
}

.basket-step,
.arrow,
.shipping-step,
.arrow-2,
.payment-step {
    justify-self: center;
}

.blue-dot {
    color: rgb(122, 162, 236);
}

.green-dot {
    color: rgb(115, 228, 115);
}

.gray-dot {
    color: rgb(160, 160, 160);
}

.arrow {
    grid-area: arrow;
}

.arrow-2 {
    grid-area: arrow-2;
}