{% extends 'users/base-user.html' %}

{% block title %}-Logout{% endblock %}

{% block content %}

<div class="register-container-grid">
    <div class="register-form">
        <div class="form-title-frame d-flex justify-content-center">
            <div class="page-title">You've been logged out</div>
        </div>
        <p class="additional-form-text d-flex justify-content-end"><a href="{% url 'user_login' %}" class="link">Log in
                again?</a></p>
    </div>
</div>

{% endblock content %}