{% load static %}
<nav class="navbar">

    <div class="container-fluid justify-content-end">
        {% if user.is_authenticated %}
        <a href="{% url 'user_logout' %}" class="non-link link-to-nav-gray"><i
                class="bi bi-box-arrow-right navbar-icon"></i></a>
        {% else %}
        <a href="{% url 'user_register' %}" class="non-link link-to-nav-gray"><i
                class="bi bi-person-plus navbar-icon"></i></a>
        <a href="{% url 'user_login' %}" class="non-link link-to-nav-gray"><i
                class="bi bi-box-arrow-in-right navbar-icon"></i></a>
        {% endif %}

        {% if user_has_items_in_basket %}
        <a href="{% url 'store_shopping_bag' %}" class="non-link link-to-nav-gray">
            <i class="bi bi-basket3-fill navbar-icon bag-icon-fill">
            </i>
        </a>

        {% else %}
        <a href="{% url 'store_shopping_bag' %}" class="non-link link-to-nav-gray">
            <i class="bi bi-basket3 navbar-icon"></i>
        </a>
        {% endif %}
    </div>

    <div class="container-fluid justify-content-center">
        <a href="{% url 'store' %}">
            <img href="{% url 'store' %}" src="{% static  'store/logo.svg' %}" class="logo">
            </img>
        </a>
    </div>

</nav>