{% extends 'users/base-user.html' %}
{% load crispy_forms_tags %}

{% block title %}-Register{% endblock %}

{% block content %}

<div class="register-container-grid">
    <div class="register-form">
        <div class="form-title-frame">
            <div class="page-title">Registration</div>
        </div>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-flex justify-content-end">
                <button type="submit" class="post-button-grid mt-2">Register</button>
            </div>
        </form>
        <p class="additional-form-text">Already have an account? <a href="{% url 'user_login' %}" class="link">Login</a>
        </p>
    </div>
</div>

{% endblock content %}